body {
    height: calc(100vh - 8em); 
    padding: 0;
    color: rgba(255, 255, 255, 0.75);
    font-family: "Montserrat", monospace;
   
    
      scroll-snap-type: mandatory;
      overflow-y: scroll;
  
  
} 

.one{
    
    height: 100vh;
   
    scroll-snap-align: start;

}
    .two{
        
        height: 100vh;
       
        scroll-snap-align: start;

    }



    
  .slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}