.sfondo3{

  width: 100%;
  height: 100%;
    background-image: url("../files/Group 3.png");
    background-size: 100% 100%;
    position: absolute;
}
.aboutcont{
	width: 50%;
	position: absolute;
	bottom: 22%;
	right: 10%;
}