/*
palette: 
scuro   #0b032d 
viola   #843b62
salmone #f67e7d
chiaro  #ffb997
*/

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
body{
    margin: 0;
    height: calc(100vh );  
    padding: 0;
    color: rgba(255, 255, 255, 0.75);
    font-family: "Montserrat", monospace;
    background-color: #222222;
}
.php_body div img{
    padding: 50px;  
}
img{
    top: 2%;
    position: relative;
    width: 48vh;
    float: left;
    padding: 100px 0px;
    margin-top: 20vh;
}

h1{
    font-size:5vw;
    max-width: 500px;
    font-size: 1.7em;
    transition-duration: 0.3s
}
h1:hover{
    color: #f67e7d;
}
}
.php_menu ul h1 h2{
    padding: 10px;
}
.php_menu{
    display: inline-block;
    position: relative;    
    left: 3%;
    margin-top: 20vh;
}
.names{
    align-content: : center;
    margin: 5px;
    list-style-type: none;
    padding-left: 5vh;
    padding-top: 3vh;
    transition-duration: 0.2s; 
}
li:hover{
    color: #f67e7d;
}
h2{
    padding-top: 4vh;
    color:#843b62;
}

h1.price{
    cursor: pointer;
    font-size: 7vh;
    padding-left: 2vh;
    transition-duration: 0.4s; 
}
.price:hover{
    color: #f67e7d;
}

.lorem{

    position: relative;
    top:10%;
    padding: 22px;
    border-style: solid;
    border-color: #f67e7d;
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.amzn,.ebay {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 7px;
    color: white;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 100;
    padding: 12px;
    margin-top: 2vh;
    background-color: #0b032d;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border: solid 2px #f67e7d;
    transition-duration: 0.4s;
}
.amzn:hover,.ebay:hover{
    background-color: #f67e7d;
    color: #843b62;
}
.amzn:focus,.ebay:focus{
    outline: 0;
}
#grande{
    position: relative;
    width: 48vh;
    float: left;
    margin-top: 20vh;
}