#main-pagina{
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
}
.img_content{
  max-height: 30rem;
  max-width: 30rem;
  display: flex;
  margin: 0 auto;
}


/* Slideshow container */
.slideshow-containers {
  background: linear-gradient(rgba(0,0,0,0.99),rgba(12, 33, 64,0.85)), url("../sfondopc.jpg");
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex: 1 1 40rem;
  display: flex;
    
}
.dettagli{
  background: #efefef;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex: 1 1 40rem;
  display: flex;
}

.dettagli h1 {
  color: #244a82;
  font-weight: 500;
  font-size: 3.5rem;
  padding: 2rem;
}
.dettagli ul{
  text-align: left;
  list-style: none;
}
.dettagli ul li{
  font-weight: 300;
  font-size: 2.8rem;
}
/*bottone*/
.dettagli a{
  margin-top: 3rem;
  padding: 2rem 4rem;
  background: #1c345c;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}



.mySlides {
  display: none;
}
.pallini{
  text-align: center;
  padding-bottom: 3rem;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

